

<mat-dialog-content>
      <div>
        <h2>Calsimeol</h2>
         <hr class="star-primary">
         <p>Vous trouverez ci dessous les différentes documentation nécessaires pour apprendre à utiliser CALSIMEOL ainsi qu'une explication du code pour l'améliorer. N'hésiter pas à visiter le forum pour proposer de nouvelles documentations et fonctions. </p>
         <h3>Documentation</h3>
         <hr class="star-primary">
         <p> Voici un tutoriel pour vous familiariser avec l'outil CALSIMEOL</p>
         <a href="doc/calsimeol.pdf" class="btn btn-default" download>
            Lancer le téléchargement
         </a>
                <mat-dialog-actions align="center">
      <button mat-raised-button mat-dialog-close>Fermer</button>
    </mat-dialog-actions>

    </div>
</mat-dialog-content>
