

<mat-dialog-content>
<div >
          <h2>CIESST</h2>
          <hr class="star-primary">
          <img src="../assets/img/portfolio/ciesst.jpg" class="img-responsive img-centered" alt="">
          <p>Vous trouverez ci dessous les différentes documentation nécessaires pour apprendre à utiliser CIESST ainsi qu'une explication du code pour l'améliorer. N'hésiter pas à visiter le forum pour proposer de nouvelles documentations et fonctions.</p>
          <h3>Documentation</h3>
          <hr class="star-primary">
        <p> Voici un tutoriel pour vous familiariser avec l'outil CIESST</p>
        <a href="doc/Tutoriel-Ciesst.PDF" class="btn btn-default" download>
        Lancer le téléchargement
        </a>
                <mat-dialog-actions align="center">
      <button mat-raised-button mat-dialog-close>Fermer</button>
    </mat-dialog-actions>

</div>
</mat-dialog-content>
