#portfolio{
  background: white;
}
#about{
  background: #127999;
}
#contact{
  background: white;
}
#about p{

  color:white;
}
#head{
  background: #127999;
  margin:0 auto;
  text-align: center;
  color: white;
}
#head img{
  margin: 0 auto 20px;
}
.name{
  font-size: 3em;
}
.star-light::after{
  background: #127999;
}
.section{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
