 <!-- Portfolio Grid Section -->
  <section id="head" >
 <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <img class="img-responsive" src="../assets/img/profile.png" alt="">
            <div class="intro-text">
                <h2 class="name">Documentation des plateformes de dimensionnement d'énergie</h2>
                <hr class="star-light">
                <span class="skills">Calsimeol - CIESST - Diagnosol - Eolatlas</span>
            </div>
        </div>
    </div>
</div>
</section>
 <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Nos plateformes</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 portfolio-item">
                    <a (click)="openCalsimeol()" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../assets/img/portfolio/calsimeol.jpg" class="img-responsive" alt="Outil Calsimeol">
                    </a>
                </div>
                <div class="col-sm-3 portfolio-item">
                    <a (click)="openCiesst()" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../assets/img/portfolio/ciesst.jpg" class="img-responsive" alt="Outil Ciesst">
                    </a>
                </div>
                <div class="col-sm-3 portfolio-item">
                    <a (click)="openDiagnosol()"  class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../assets/img/portfolio/diagnosol.jpg" class="img-responsive" alt="Outil Diagnosol">
                    </a>
                </div>
                <div class="col-sm-3 portfolio-item">
                    <a (click)="openEolAtlas()"  class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../assets/img/portfolio/logo.png" class="img-responsive" alt="Logo Arece">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>À Propos</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Bienvenue sur la documentation du site Arece et de ses différentes plateformes. Ici vous trouverez les informations pour pouvoir utiliser pleinement ces projets. Que vous soyez un étudiant en quête de </p>
                </div>
                <div class="col-lg-4">
                    <p>renseignements utiles sur l'énergie renouvelable, un professionnel pour enrichir ses connaissances, cette partie vous est destiné à comprendre les enjeux du futur et simuler l'apport de celles-ci. </p>
                </div>

            </div>

        </div>
		<div class="col-lg-12 text-center">
				Si vous souhaitez ajouter une plateforme sur ARECE voici un petit tutoriel pour vous aider.

		</div>
		<div class="col-lg-12 text-center">
			<a href="doc/Ajout-de-plateforme.pdf" class="btn btn-default">
			 Lancer le téléchargement
			</a>
		</div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contact</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="box">
                    <div class="col-lg-12">
                        <hr>
                        <h3 class="intro-text text-center">Pour toute information, contactez-nous !
                        </h3>
                        <hr>
                        <img class="img-responsive img-border img-left" src="../assets/img/ECE-Paris.jpg" alt="ECE" style="height:120px;">
                        <hr class="visible-xs">
                        <p><strong>Mr Wanegue,</strong> Responsable de projet : jjwanegue@wanadoo.fr</p>
                        <p><strong>Mr Paradinas,</strong> Responsable de la valorisation : pierre.paradinas@gmail.com</p>
                        <p><strong>Mr Haik,</strong> Responsable de la majeur Énergie & Environnement : philippe.haik@ece.fr</p>
                    </div>
                </div>
            </div>

        </div>
    </section>
