div{
  margin: 0 auto;
  width: 80%;
  background-color: white;
}

.radio-group  {
  display: inline-flex;
}
.radio-button {
  margin: 5px;
}

div input {
  margin-left: 25px;
  width: 100%;

}
small{
  color:rgb(134, 148, 166);
    margin-left: 25px;
}
textarea{

    margin-left: 25px;
    width:100%;
    resize: none;
}
button{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 25px;
}

.required:after {
  content:" *";
  color:red;
}
