
<div class="container">
  <div class="row">
    <h2>Formulaire d'ajout d'outil {{tool.typeDemand}}</h2>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col">
        <label for="type" class="required"> Type d'hébergement de l'outil </label>
      </div>
      <div class="col">
        <mat-radio-group formControlName="type"  name="type" class="radio-group" [(ngModel)]="tool.typeDemand">
          <mat-radio-button class="radio-button" *ngFor="let type of types" [value]="type">
            {{type}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

      <div class="row">
        <div class="col">
          <label class="required" for="toolname"> Nom de l'outil </label>
        </div>
        <div class="col">
          <input name="toolname" formControlName="toolname" [(ngModel)]="tool.toolName" type="text" value="tool.toolName">
          <small [hidden]="form.controls.toolname.valid">
              Le nom de l'outil est requis.
        </small>
        </div>
      </div>

      <div class="row">
          <div class="col">
            <label class="required" for="username"> Nom du demandeur </label>
          </div>
          <div class="col">
            <input name="username" formControlName="username" [(ngModel)]="tool.userName" type="text" value="tool.userName">
            <small [hidden]="form.controls.username.valid">
                Le nom du demandeur est requis si nous avons besoin de vous contacter.
          </small>
          </div>
      </div>

      <div class="row">
          <div class="col">
            <label class="required" for="mail"> Adresse mail </label>
          </div>
          <div class="col">
            <input name="mail" formControlName="mail" [(ngModel)]="tool.mail" type="email" value="tool.mail" >
            <small [hidden]="form.controls.mail.valid">
                Le mail est requis pour valider la demande. Il nous permettra de vous contacter plus facilement.
            </small>
          </div>
      </div>
      <div class="row">
        <div [ngSwitch]="tool.typeDemand" class="col">
          <label class="required"  *ngSwitchCase="'Hébergé'" for="link"> Lien vers le site </label>
          <label class="required" *ngSwitchCase="'Non hébergé'" for="link"> Lien vers les fichiers sources / Repertoire GIT </label>
          <label  *ngSwitchDefault for="link"> Lien </label>
        </div>
        <div class="col">
          <input name="link" formControlName="link" [(ngModel)]="tool.link" type="text" value="tool.link" placeholder='https://www.monoutil...'>
          <small [hidden]="form.controls.link.valid">
              Le lien vers le site est requis.
        </small>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="required" for="descritpion"> Description </label>
        </div>
        <div class="col">
          <textarea name="descritpion" formControlName="descritpion" [(ngModel)]="tool.description" value="tool.description">

          </textarea>
          <small [hidden]="form.controls.descritpion.valid">
              Veuillez décrire ici les fonctionnalités de votre outil. Il nous permettra d'avoir
          </small>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 offset-md-6">

          <button type="submit" [disabled]="!form.valid" class="btn btn-success">Envoyer la demande</button>
        </div>
      </div>

    </form>
</div>
