
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

<div class="container" >
    <object id="enbed"
            [data]="url"
            width="100%" height="800"
            sandbox> </object>
</div>
