#administrationPanel{
  width:90%;
  margin:0 auto;
    padding: 10px 40px 20px 40px;
  background-color: rgb(252, 249, 249);

}
nav{
  vertical-align: middle;
}
.nav-link{
  background: rgb(238, 247, 255);
  color:rgb(50, 132, 154);


    vertical-align: middle;
}
