<div id="administrationPanel">

  <h1>Panneau d'administration</h1>
  <nav>


      <a mat-raised-button class="nav-link" [routerLink]="{outlets:{adminPanel:['adminlist']}}" routerLinkActive="active">Liste des demandes</a>
      <button mat-raised-button class="nav-link" (click)="logOut()">Se déconnecter</button>

    </nav>
      <router-outlet name="adminPanel"></router-outlet>

</div>
