<h1 class="brand">ARECE</h1>
<div class="address-bar">La plateforme open source des énergies renouvelables de l'ECE Paris</div>



<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
          <a class="navbar-brand" href="index.html">Découvrer nos projets</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
              <li>
                  <a routerLink='/accueil-arece' routerLinkActive="active">Accueil</a>
            </li>
              <li>
                  <a routerLink='/about-arece' routerLinkActive="active">À Propos</a>
              </li>
              <li>
                  <a mat-button (click)="refreshList()" [mat-menu-trigger-for]="menu">Projets</a>
                  <mat-menu  #menu="matMenu" class="my-full-width-menu"  yPosition="below">
                    <!-- <button routerLink='/calsimeol' routerLinkActive="active" mat-menu-item>Calsimeol</button>
                    <button routerLink='/ciesst' routerLinkActive="active" mat-menu-item>CIESST</button>
                    <button routerLink='/diagnosol' routerLinkActive="active" mat-menu-item>DIAGNOSOL</button>
                    <button mat-menu-item>AWUDAS</button>
                    <button mat-menu-item>GREENDATA</button>
                   -->
                    <button mat-menu-item *ngFor="let tool of tools" (click)="goToTool(tool.id)">{{tool.toolName | uppercase}}</button>
                      <button routerLink='/addtool-arece' routerLinkActive="active" mat-menu-item>Ajouter un outil</button>
                  </mat-menu>

              </li>
    <li>
                  <a routerLink='/documentation-outils' routerLinkActive="active">Documentation</a>
              </li>
              <li>
                  <a routerLink='/contact-arece' routerLinkActive="active">Contacts</a>
              </li>
              <li>
                  <a routerLink='/forum-arece' routerLinkActive="active">Forum</a>
              </li>
          </ul>
      </div>
      <!-- /.navbar-collapse -->
  </div>
<!-- /.container -->
</nav>
