
 
 /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: grey;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #f1f1f1
    }
    .brand{
        
        display: block;
    }
    .address-bar{
        display: block;
    }

    .mat-menu-panel.my-full-width-menu{
        max-width: none;
        width: 100vw;
        margin-left: 100px;
        margin-top: 24px;

    }
    
    .cdk-global-overlay-wrapper, .cdk-overlay-pane{
        top:65px;
        left:10px;
    }