   <div class="four-o-four center-align">

    <h1> 404 </h1>
   </div>

   <div class="container">

   <!-- spacer -->
   <hr class="vertical">

   <p class="x-large-text center-align">La page que vous cherchez a été déplacée ou n'existe pas.</p>

   <hr class="vertical">
</div>
