.four-o-four {
      margin-top: 60px;
      display: flex;
      flex-direction:row;
      justify-content:center;
    }
.container{
  justify-content:center;
}

    h1 {
      font-family: "Roboto", sans-serif;
      font-size: 200px;
      font-weight: 600;
      margin-top: 0px;
      margin-right: 15px;
      margin-left: 15px;
      color: #ffffff;
    }
    p {
      font-family: "Roboto", sans-serif;
      color: #ffffff;
      text-align: center;
      justify-content:center;

    }
