<div class="container">

                <div class="row">
                    <div class="box">
                        <div class="col-lg-12 text-center">
                            <div id="carousel-example-generic" class="carousel slide">
                                <!-- Indicators -->
                                <ol class="carousel-indicators hidden-xs">
                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img class="img-responsive img-full" src="../assets/img/slide-1.jpg" alt="">
                                    </div>
                                    <div class="item">
                                        <img class="img-responsive img-full" src="../assets/img/slide-2.jpg" alt="">
                                    </div>
                                    <div class="item">
                                        <img class="img-responsive img-full" src="../assets/img/slide-3.jpg" alt="">
                                    </div>
                                    <div class="item">
                                        <img class="img-responsive img-full" src="../assets/img/slide-4.jpg" alt="">
                                    </div>
                                    <div class="item">
                                        <img class="img-responsive img-full" src="../assets/img/slide-5.jpg" alt="">
                                    </div>
                                </div>

                                <!-- Controls -->
                                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                    <span class="icon-prev"></span>
                                </a>
                                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                    <span class="icon-next"></span>
                                </a>
                            </div>
                            <h2 class="brand-before">
                                <small>Bienvenue sur</small>
                            </h2>
                            <h2 class="brand-name">ARECE</h2>
                            <hr class="tagline-divider">
                            <h2>
                                <small>By
                                    <strong>ECE PARIS</strong>
                                </small>
                            </h2>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="box">
                        <div class="col-lg-12">
                            <hr>
                            <h2 class="intro-text text-center">Qu'est-ce que la plateforme
                                <strong>ARECE?</strong>
                            </h2>
                            <hr>
                            <img class="img-responsive img-border img-left" src="../assets/img/ARECE.png" alt="" style="height:180px;">
                            <hr class="visible-xs">
                            <p>ARECE est une plateforme hébergeant des outils didactiques de dimensionnement de solutions
                                énergétiques durables, que celles-ci soient éolienne, solaire-thermique ou solaire-photovoltaïque.
                                Son utilisation est accessible, académique, orientée vers la collaboration et la participation</p>
                            <p>Que vous soyez un particulier ou professionnel, ARECE est mis à votre disposition afin de vous aider à mieux comprendre les enjeux des énergies renouvelables pour notre futur. Si vous avez des question n'hésitez pas à visiter notre forum.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="box">
                        <div class="col-lg-12">
                            <hr>
                            <h2 class="intro-text text-center">Comment bien utiliser la plateforme
                                <strong>ARECE?</strong>
                            </h2>
                            <hr>

                            <hr class="visible-xs">
                            <p>Afin de vous aider à bien utiliser le site ARECE et pour assurer la pérénité du site, veuillez trouver ci-dessous un petit guide pour vous aider à utiliser ou même amioliorer cette plateforme</p>
                            <a href="doc/Guidedesbonnespratiques.pdf" class="btn btn-default" style="text-align:center">
                                Lancer le téléchargement
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container -->
            <script>
                    $('.carousel').carousel({
                        interval: 5000 //changes the speed
                    })
                    </script>
