<div id="demandesOutils">

  <h2>{{title}}</h2>
  <mat-table *ngIf="tools" [dataSource]="dataSource">

    <ng-container class="list" matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id. </mat-header-cell>
      <mat-cell *matCellDef="let tool"> {{tool.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="etat">
      <mat-header-cell *matHeaderCellDef> Statut </mat-header-cell>
      <mat-cell *matCellDef="let tool"> {{tool.etat}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="toolName">
      <mat-header-cell *matHeaderCellDef> Nom de l'outil </mat-header-cell>
      <mat-cell *matCellDef="let tool"> {{tool.toolName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="typeDemand">
      <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
      <mat-cell *matCellDef="let tool"> {{tool.typeDemand}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="link">
      <mat-header-cell *matHeaderCellDef> URL vers le site </mat-header-cell>
      <mat-cell *matCellDef="let tool"> {{tool.link}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row [class.selected]="row === selectedTool"
    (click)="onSelect(row)" *matRowDef="let row; columns: displayedColumns;" ></mat-row>

  </mat-table>
    <h2 id="helper" *ngIf="!selectedTool"> Sélectionner une demande pour afficher les détails </h2>
        <mat-card *ngIf="selectedTool" class="tool-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"> </div>
            <mat-card-title>Nom de l'outil : {{selectedTool.toolName}}</mat-card-title>
            <mat-card-subtitle>Type : {{selectedTool.typeDemand}}</mat-card-subtitle>
            <mat-card-subtitle>Lien : <a href="{{selectedTool.link}}">{{selectedTool.link}}</a></mat-card-subtitle>
            <mat-card-subtitle>Email : {{selectedTool.mail}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{selectedTool.description}}
            </p>
          </mat-card-content>
          <mat-card-actions *ngIf='selectedTool.etat=="En cours"'>
            <button mat-button (click)="deleteDemandTool()">Refuser</button>
            <button mat-button (click)="addTool()">Accepter</button>
          </mat-card-actions>
        </mat-card>



</div>
