#demandesOutils{
  padding-left: 5px;
  margin-bottom: 20px;
}
#listDemands{
    display: inline;
    width:40%;

}
#help{
  text-align:center;
  margin: 0 auto;
}
ul { list-style-type: none; }

label{
  display: block;
}

.tool-card{
  margin: 0 auto;
  width:80%;
    margin-top: 20px;
}
.list{
  width:95%;
  margin-bottom: "30px";
}
