<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <input name="mail" formControlName="mail" [(ngModel)]="utilisateur.mail" type="email" value="utilisateur.mail" >
  <small [hidden]="form.controls.mail.valid">
      Le mail est requis pour la connexion.
  </small>
  <input name="motdepasse" formControlName="motdepasse" [(ngModel)]="utilisateur.motdepasse" type="password" value="utilisateur.mail" >
  <small [hidden]="form.controls.motdepasse.valid">
      Veuillez renseigner votre mot de passe.
  </small>
  <button routerLink="/administration-arece" type="submit" class="btn btn-success">Connexion</button>
</form>
